@import url('./css/reading-list.css');
@import url('./css/no-reading-title.css');
@import url('./css/new-reading.css');

body {
    background-color: var(--light-pink);
}

section {
 width: 100%;
 display: flex;
 justify-content: center;
}
